<div class="container">
  <div style="text-align:right;">
    <a class="btn btn-primary" href="/write-article">공지사항 작성</a>
  </div>
  
  <h4>회원 관리</h4>
  <ul class="list-group user-list">
    <li class="list-group-item" ng-repeat="user in admin.users">
	    <div class="user-info">
	        <strong>{{user.name}}</strong><br>
	        <span class="text-muted">{{user.email}}</span>
	    </div>
        <a ng-click="admin.delete(user)" class="trash"><span class="fa fa-trash fa-2x"></span></a>
    </li>
  </ul>
</div>
