$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import '../bower_components/bootstrap-social/bootstrap-social.scss';
$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// Component styles are injected through grunt
// injector
@import 'admin/admin.scss';
@import 'article/article.scss';
@import 'exp/exp.scss';
@import 'main/main.scss';
@import 'map/map.scss';
@import 'quest/quest.scss';
@import 'write-article/write-article.scss';
@import '../components/footer/footer.scss';
@import '../components/modal/modal.scss';
@import '../components/oauth-buttons/oauth-buttons.scss';
@import '../components/sidebar/sidebar.scss';
// endinjector

body {
  padding-top: 70px;
  font-family:notokr-regular !important;
}

.completed { 
  background: #ddd;
  border-color: #006dcc;
  border-width: 2px;
}

.notCompleted {
  color: #7e7e7e !important;
}

@import url("http://tos.demonic.kr/client/assets/fonts/NotoKR-Regular/stylesheet.css");


.notokr-black { font-family:notokr-black !important; }
