<header class="hero-unit" id="banner">
  <div class="container">
    <h1>TOS Diary</h1>
    <p >트리오브세이비어 퀘스트 일지 베타 서비스입니다. <br/>왼쪽 상단의 <button class="btn btn-primary" ng-click="openAside('left', true)"><span class="
glyphicon glyphicon-search"></span> 지도 검색</button> 버튼을 눌러보세요.</p>
    <p>경험치카드 시뮬레이터 서비스가 오픈되었습니다.<br/>상단의 <a class="btn btn-default" href="/exp">경험치 계산기</a> 버튼을 이용해 보세요.</p>
  </div>
</header>

<div class="container" style="margin-top:10px;">
  <div class="col-lg-6 col-md-6 col-sm-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">공지사항</h3>
      </div> 
      <div class="list-group">
        <a href="/article?id={{article._id}}" class="list-group-item" ng-repeat="article in articles | orderBy: '-written'">
          <h5 class="list-group-heading">
            <strong>{{article.title}}</strong> 
          </h5>
          <div style="color:#7b7b7b; text-align:right;">{{article.written | date: 'yyyy-MM-dd'}}</div>
        </a>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">최근 댓글</h3>
      </div>
      <div class="list-group">
        <a href="/quest/{{comment.mapId._id}}" class="list-group-item" ng-repeat="comment in comments | orderBy: '-written'">
          <h5 class="list-group-heading">
            <strong>{{comment.message}}</strong> 
          </h5>
          <div style="color:#7b7b7b;">[{{comment.mapId.mapName}}] {{comment.author.name}} <span class="label label-warning" ng-show="comment.author.role=='admin'">Admin</span> <span style="float:right;">{{comment.written | date: 'yyyy-MM-dd'}}</span></div>
        </a>
      </div>
      <!--<div class="list-group">
        <a href="/quest/{{comment.mapId._id}}" class="list-group-item" ng-repeat="comment in comments | orderBy: '-written'">
          <h5 class="list-group-heading">
            <span>[{{comment.mapId.mapName}}]</span>
            <strong>{{comment.author.name}}</strong> 
            &nbsp;<span class="label label-warning" ng-show="comment.author.role=='admin'">Admin</span></h5>

            <span style="color:#7b7b7b; float:right;">{{comment.written | date: 'yyyy-MM-dd'}}</span>
            <h5 class="list-group-text">{{comment.message}}</h5>
        </a>
      </div>
      -->
    </div>
  </div>
</div>
