<div class="modal-header">
  <input type="text" class="form-control col-12" placeholder="지도 이름을 입력하세요.." ng-model="text">
  
  <div class="col-12" role="group" style="margin-top:5px;">
    <button type="button" class="btn" ng-click="order('mapName')" ng-class="{'btn-primary': predicate == 'mapName'}">가나다순</button>
    <button type="button" class="btn" ng-click="order('level')" ng-class="{'btn-primary': predicate == 'level'}">레벨순</button>
  </div>
  
</div>
<div class="modal-body">
  <div class='list-group'>
    <a class='list-group-item' class="sortorder" ng-repeat="map in maps | filter:text" ng-href="/quest?mapId={{map._id}}" ng-click="clickItem(map._id)" target='_self'><span style='width:40px; display:inline-block;'>{{map.level}}</span><span class="col-10">{{map.mapName}}</span></a>
  </ul>
</div>