.input-group-addon{
  min-width:70px;
}

.no-padding{
  padding-left: 0px !important;
  padding-right: 0px !important;
}
/*
div[class*='col-']{
  padding-left: 0px !important;
  padding-right: 0px !important;
}*/
